# Ignore these directories at any level
Data/
ModelBuilding/
GaleaMaterials/
Manuscript/

# Ignore R history files
*.Rhistory

# Ignore the API key
Scripts/GPS/Api_Key.R

# Ignore various other file types
*.txt
*.rda
*.pdf
*.docx
*.csv
*.xlsx
